@{
    ViewData["Title"] = "Index";
}

<h1>旅遊景點區</h1>

<div class="container">
    <div class="row" id="Head">
</div>
</div>

@section Scripts{
<script src="~/js/travel.js"></script>
<script>

    console.log(spots.CommonFormat.Section.length)
        console.log(spots.CommonFormat.Section[1].file.img[0].text)

        let datas="";
        for (let i = 0, Max = spots.CommonFormat.Section.length;i<Max;i++)
        {
            let section = spots.CommonFormat.Section[i];
            let data = `<div class="card col-3 mx-2 my-2" style="width: 18rem;">
                               <img src="${section.file.img[0].text}" class="card-img-top" >
                       <div class="card-body">
                        <h5>${section.stitle}</h5>
                        <p class="card-text">${section.xbody.substring(0,100)}...</p>
                <a href="${section.xurl}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>`
           datas +=data
        }
        document.querySelector('#Head').innerHTML = datas;
</script> 
}
